.Copyright {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 14px;
  width: 100%;
  text-align: right;
}

.Copyright a {
  color: #7a7a7a;
  text-decoration: none;
}

.Copyright a:hover {
  text-decoration: underline;
}

@media (max-width: 543px) {
  .Copyright {
    right: 0;
    text-align: center;
  }
}
