.SpokenWord {
    font-size: 94px;
    line-height: 94px;
    font-weight: 700;
    text-align: center;
    color: #3a3d43
}
@media (max-width: 543px) {
    .SpokenWord {
        font-size: 48px;
        line-height: 48px
    }
}
